.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json

.vscode/.BROWSE*
.vscode/.browse*
.vscode/extensions.json
.vscode/settings.json
.vscode/launch.json
.vscode/c_cpp_properties.json
.vscode/ipch
.pio/
/data
/dist

# dependencies
/portal/node_modules
/node_modules
/portal/src/version.ts
