mat-card {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

div.mat-elevation-z8 {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

table {
  width: 100%;
}

table .mat-column-flashOps {
  width: 100px;
  text-align: center;
}

table .mat-column-fileOps {
  width: 100px;
  text-align: center;
}

table .mat-column-size {
  width: 100px;
  text-align: center;
}